p {
    color:black;
}

#primerParrafo {
    color: blue;
}

p.subrayado {
    text-decoration: underline;
    color: green;
}

.otraTipografia{
    font-family: Arial;
}

ul li {
    color: orange;
}

p.formulario {
    color: black;
}

input:hover {
    background-color: brown;
}

input:focus {
    background-color: darkcyan;
}