#encabezado {
    border-bottom: 1px solid gray;
}

.float-left {
    float: left;
}

.navegacion-menu {
    list-style-type: none;
}

.navegacion-menu a {
    text-decoration: none;
    color: black;
}

#navegacion {
    margin: 10px;
}

#contenido {
    margin: 10px;
    padding: 10px;
    border-left: 1px solid gray
}