#caja-padre {
    width: 960px;
    margin: 50px;
} /*ID // Reglas para todo el contenedor de la página*/

#contenedor-A {
    border-bottom: 1px solid rgb(54, 54, 54);
} /*ID // Reglas para el <header>*/

#contenedor-B {
    width: 300px;
} /*ID // Reglas para <nav>*/

#contenedor-C {
    width: 610px;
    border-left: solid 1px black;
} /*ID // Reglas para <article>*/

footer {
    border: solid 1px black;
    padding: 20px;
    width: 920px;
    overflow: hidden;
    background-color: #BDBDBD;
}

.logo {
    float: left;
    width: 250px;
    margin-left: 15px;
    margin-top: 7px;
}

.contacto {
    float: right;
}

.cont {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.float-left {
    float: left;
} /*Clase // Para declarar flotacion izquierda*/

.float-right {
    float: right;
}

.navegacion-menu {
    list-style-type: none;
    padding: 0
} /*Clase // Reglas para el listado de hipervinculos*/

.navegacion-menu a {
    text-decoration: none;
    color: black
} /*Clase // Reglas para cada hipervinculo en particular*/

.listado-menu {
    list-style-type: none;
} /*Clase // Reglas para el listado de los platos del menú*/

.img-derecha {
    float: right;
} /*Clase // Regla para declarar flotación derecha de una imagen*/

