body {
    background-image: url(../images/bg-body.png);
}

.logo {
    display: block;
    margin: auto;
    border-radius: 70px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: solid 1px black;
}

.card {
    background-color: rgba(245, 245, 245, 0);
}

.bg-secondary, .btn-secondary {
    background-color: rgb(66, 64, 67) !important;
}

.main-nav li a, .main-footer li a {
    margin-bottom: 2px;
}

.banner, .main-nav, .main-footer, .boton {
    margin-bottom: 20px;
}

.main-footer, #main-footer-desk {
    margin-top: 20px;
}

/* Overlay de https://www.w3schools.com/howto/howto_css_image_overlay.asp */

.photo-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(66, 64, 67);
}

.card-top-image {
    display: block;
    width: 100%;
    height: auto;
}

.photo-container:hover .overlay {
    opacity: 1;
}

.zoom {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Fin de Overlay */

.btn-danger {
    background-color: rgb(185, 37, 25) !important;
}

.special {
    position: absolute;
    top: 0;
    right: 5px;
}

#main-footer-desk {
    background-color: rgb(185, 37, 25);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 0px;
    height: 100px;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#main-footer-desk ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#main-footer-desk ul li a{
    color: white;
}

#main-footer-desk ul li + li:before{
    content: "|";
    padding: 0 10px;
    color: white;

}