body {
    background-image: url(../images/bg-body.png);
}

.logo {
    display: block;
    margin: auto;
    border-radius: 70px;
    margin-bottom: 15px;
}

.card {
    background-color: rgba(245, 245, 245, 0);
}

.bg-secondary, .btn-secondary {
    background-color: rgb(66, 64, 67) !important;
}

.main-nav li a, .main-footer li a {
    margin-bottom: 2px;
}

.banner, .main-nav, .main-footer {
    margin-bottom: 15px;
}

.card-img-top, .main-footer {
    margin-top: 15px;
}

/* .zoom{
    display: flex;
    justify-content: center;
    align-items: center;
} */